@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@500;700&display=swap');

/*--BASE--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEF9EF;
    color: #0F0A0A;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Comfortaa', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
}

hr {
    width: 25%;
    margin: 0 auto;
    padding: 0;
    background-color: #E3DFFF;
    border: 2px solid #E3DFFF;
    border-radius: 2px;
}

/*--BASE TEMPLATE--*/
/*Base Sections*/
.header {
    margin-top: 6rem;
    text-align: center;
}

.main {
    position: relative;    
    margin: 2rem 1rem 4rem 1rem;
}

/*Layout*/
.container {
    position: relative;
}

/*Navbar*/
.navbar {
    background-color: #FEF9EF;
    padding: 0 1rem;
}

.navbar-brand {
    padding-bottom: 0;
}

.navbar .navbar-nav .nav-link {
    color: #0F0A0A;
    font-size: 1.1rem;
}

.navbar .navbar-nav .nav-link:hover {
    color: #6D6A75;
    text-decoration: underline;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #868686;
    text-decoration: underline;
}

/*Navbar-Page Pagination*/
.pagination ul li {
    display: inline-block;
    margin: 0 0.2rem;
    padding: 0 0.5rem;
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 0.25rem;
}

.pagination ul li:hover {
    color: #6D6A75;
    text-decoration: underline;
}

.pagination .active>a {    
    color: #868686;
    text-decoration: underline;
}

/*Footer*/
.footer {
    background-color: #e3dfff;
    box-shadow: 0 0 0.5rem #868686;
    padding: 3rem 0 5rem 0;
}

.footer__line {
    border-bottom: 2px solid #FEF9EF;
    border-radius: 2px;
    margin-bottom: 0.7rem;
    padding-bottom: 1rem;
    text-align: center;
}

.footer__icons {
    display: inline-block;
    line-height: normal;
    font-size: xx-large;
}
.footer__icons:not(:last-child) {
    margin-right: 0.5rem;
}

.footer__icons--instagram {
    color: #ff008c;
}

.footer__icons--instagram:hover {
    color: #e02b8f;
}

.footer__icons--facebook {
    color: #0051ff;
}

.footer__icons--facebook:hover {
    color: #4d73c5;
}

.footer__icons--youtube {
    color: #ff0000;
}

.footer__icons--youtube:hover {
    color: #df2121;
}

.footer__footer-list {
    list-style-type: none;
}

.footer__footer-link {
    white-space: nowrap;
    padding: 0 1rem;
    color: #0F0A0A;
}

.footer__footer-link:hover {
    color: #6D6A75;
    text-decoration: underline;
}

.footer__copyright {
    position: absolute;
    left: 2rem;
    bottom: 0;
}

.footer__top {
    position: absolute;
    right: 2rem;
    bottom: -0.2rem;
    font-size: 1.5rem;
}
.footer__top:hover {
    color: #6D6A75;
}

/*--Components--*/
/*Button*/
.btn {
    box-shadow: 0 0 0.5rem #868686;
}

.btn-buy {
    width: 70%;
}

.btn-lavender {
    background-color: #E3DFFF;
}
.btn-lavender:hover {
    background-color: #868686;
    color: #EAEBED;
}

.btn-dimgray {
    background-color: #868686;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #EAEBED;
}
.btn-dimgray:hover {
    background-color: #E3DFFF;
}

.btn-subscribe {
    background-color: #FEF9EF;
    box-shadow: 0 0 0.2rem #868686;
    padding: .37rem .75rem;
}
.btn-subscribe:hover {
    background-color: #E3DFFF;
}

.btn-reset {    
    background-color: #9A031E;
    margin-left: 0.5rem;
    color: #E3DFFF;
}
.btn-reset:hover {
    background-color: rgb(230, 0, 42);
    color: #E3DFFF;
}

.btn-remove {
    display: inline-block;
    margin-left: 1rem;
    padding: 0 0.2rem;
    border: 0.09rem solid #E3DFFF;
}

.btn-heart:hover {
    background-color: hsl(349, 100%, 70%);
    color: white;
}

/*Cards*/
.card {
    position: relative;
    border: transparent;
    background-color: transparent;
}

.card-body {
    padding: 0;
}

.card__content {
    position: relative;
    padding: 1rem 0 0 1rem;
}

.card__recipe {
    margin: 3rem 0;
}

.card__recipe-title {
    margin-bottom: 1.5rem;
    text-align: center;
}

.card__recipe-text {
    margin-bottom: 1rem;
}

.card__recipe-description {
    margin: 2rem 0;
}

.card__content {
    position: relative;
    padding: 1rem 0 0 1rem;
}

.gallery__card {
    display: block;
    position: relative;    
    width: 100%;
    height: 100%;    
    object-fit: cover;
}

.gallery__image {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
    border-radius: 0.85rem;
    filter: contrast(1.1) brightness(1.15) saturate(1.1);
    transform: scale(1);
    z-index: 0;
    transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, z-index 0.2s linear;
}
.gallery__image:hover {
    box-shadow: 0 0 1rem black;
    transform: scale(1.1);
    z-index: 10;
    transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, z-index 0s linear;
    filter: contrast(1) brightness(1) saturate(1);
}

.gallery__heading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0 0.5rem 1rem;
    color: white;
    text-shadow: 0 0 1rem black,
        0 0 1rem black,
        0 0 1rem black,
        0 0 1rem black,
        0 0 1rem black;
    z-index: 12;
}

.recipe_list-card {
    margin: 0 0 0 1.5rem;
}

.recipe_list-ingredients {
    margin: 2rem 0 1rem 1.5rem;
}

.recipe_list {
    font-size: 1.3rem;
}

.size {
    width: 100%;
    height: 15rem;
}

.recipe__icon {
    font-size: 0.9rem;
}

.recipe__icon-text {
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
}

.recipe__icon-right {
    padding-right: 1rem;
}

.recipe__card-image {
    height: 12rem;
    overflow: hidden;
    object-fit: contain;
    box-shadow: 0 0 1rem black;
}

.recipe__image {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    filter: contrast(1.1) brightness(1.15) saturate(1.1);
}

/*Products*/
.product__card {
    border: 8px solid #e3dfff;
    border-radius: 0.75rem;
}

.product__card-body {
    padding: 2rem 1rem;
}

@media (min-width: 576px){
    .pr {
        padding-right: 0;
    }
}

.product__image-container {
    position: relative;
    background-color: white;    
    border: 7px solid #e3dfff;            
}

.product__image-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;             
}

.product__image-container::after {
    content: "";
    position: absolute;
    bottom: -0.1rem;
    left: -0.1rem;
    right: -0.1rem;
    height: 4rem;
    background-image: linear-gradient(-7.7391704773deg, #e3dfff 49.7%, transparent 50.3%);
    background-repeat: no-repeat;
    background-position: 50% 100%;       
}

.products__card-container {
    perspective: 50rem;
}

.products__card {
    position: relative;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.5);
}

.products__image-container {
    position: relative;
    background-color: white;        
}

.products__image-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;    
}

.products__image-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-image: linear-gradient(-7.7391704773deg, #e3dfff 49.7%, transparent 50.3%);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.products__image {
    width: 100%;      
}

.products__card-body {
    background-color: #e3dfff;
    height: 5rem;
    margin: 0;
    padding: 0;
}

.product__image {
    max-height: 15rem;
}

.products__image {
    height: 10rem;
}

.products__heading {    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products__card-hover {
    position: absolute;
    top: -0.0625rem;
    left: -0.0625rem;
    right: -0.0625rem;
    bottom: -0.0625rem;
    z-index: 2;
    background-color: #e3dfff;
    background-image: linear-gradient(90deg, transparent calc(50% - 0.03125rem), white calc(50% - 0.03125rem), white calc(50% + 0.03125rem), transparent calc(50% + 0.03125rem)), linear-gradient(135deg, #e3dfff 0%, #e3dfff 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center center;
    background-size: 100% calc(50% - 4rem), 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.products__card:hover .products__card-hover {
    opacity: 1;
}

.products__card-container .products__card {
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.products__card-container:hover .products__card {
    transform: rotateY(180deg);
}

.products__card-container .products__card-front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.products__card-container .products__card-hover {
    transform: rotateY(180deg);
    opacity: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*Form*/
form .form__input-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.6rem 1rem;
    font-size: 1.3rem;
}

form .form__input-addicon {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1.5rem;
    font-size: 1.3rem;
}

.form-control {
    border: 1px solid #868686;
}

.form-control-add {
    padding-left: 2.2rem;
}

label {
    margin: 0;
}

input[type="file"] {
    display: none;
}

.form {
    margin-bottom: 1rem;
}

.form__group {
    position: relative;
    margin-bottom: 0.9rem;
    padding: 0;
}

.form__input {
    width: 100%;
    padding: .4rem 0 .4rem 3rem;
    border: 1px solid #868686;
    border-radius: .25rem;
}

.form__input:focus {
    outline-color: #9A031E;
}

.form__input::placeholder {
    color: transparent;
}

.form__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    margin: 0.4rem 4rem;
    transform-origin: 0% 20%;
    transform: scale(1) translate(0, 0);
    will-change: transform;
    transition: transform 0.25s ease-in-out;
}

.form__input:focus~.form__label,
.form__input[placeholder]:not(:placeholder-shown)~.form__label {
    transform: scale(0.75) translate(0.4rem, 2.8rem);
}

.form__input-email {
    display: inline;
    width: 50%;
    border: 1px solid #868686;
}


/*Utility Classes*/
/*Image*/
.bg-password {
    background-color: #e3dfff;
    margin: 0 5rem;
}

.underline:hover {
    text-decoration: underline;
}

.rounded-border {
    border-radius: 0.75rem;
}

.shadow-box {
    box-shadow: 0 0 1rem black;
}

.ul__list {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

.ul__list-item {    
    padding-bottom: 0.5rem;
}

.link {
    padding-top: 0.5rem;
    text-shadow: 0 0 0.15rem #868686;
}

.link:hover {
    color: #6D6A75;
    text-shadow: none;
    text-decoration: underline;
}

/*Icon*/
.fa-user-circle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.fa-minus {
    color: #9A031E;
}

.fa-heart {
    color: #9A031Efa;
}
.fa-heart:hover {
    color: white;
}

.user__icon {
    font-size: 1.3rem;
}

.user {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    color: white;
    text-shadow: 0 0 1rem black,
        0 0 1rem black,
        0 0 1rem black,
        0 0 1rem black,
        0 0 1rem black;
}

/*Flash Messages*/
.flashes h4 {
    background-color: #E3DFFF;
    box-shadow: 0 0 0.5rem #868686;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    line-height: 2;
    text-decoration: underline;
}

.success {
    color: #28a745;
}

.error {
    color: rgb(230, 0, 42);
}

/* Media Queries */
@media (max-width: 48em) {
    .footer__line {
        padding-bottom: 0.7rem;
    }
    .copyright {
        position: relative;
        float: left;
        left: 0;
        padding-top: 2rem;
    }
    .top {
        position: relative;
        float: right;
        right: 1.5rem;
        bottom: -0.5rem;
    }
    .recipe_name-all {
        padding-top: 0;
        padding-bottom: 0.75rem;
        font-size: 1.5rem;
        text-align: center;
    }
    .recipe__icon {
        font-size: 0.8rem;
    }
    .recipe__icon-right {
        padding-right: 0.5rem;
    }
    .recipe__card-image {
        height: 13rem;
    }
}

@media (max-width: 30em) {
    .recipe__card-image {
        height: 10rem;
    }
    .size {
        height: 100%;
        padding-bottom: 1rem;
    }
    .favourite {
        font-size: 0.95rem;
    }
    .product__image-container::before {        
        border-right: none;         
    }
    .st-3 {
        margin-top: 1.5rem;
    }
}