@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@500;700&display=swap');

/**
background-color: #F4F3EE;
background-color: #f5f5e2; 
background-color: #F7F7FF;
background-color: #f6f6f6;   
background-color: #FAF9F9;
background-color: #FEF9EF;
background-color: #F5EFED;
*/

/*BASE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: #FEF9EF;
    color: #0F0A0A;              
    font-size: 100%;    
    font-family: 'Montserrat', sans-serif;    
}

/*Heading/Title/Text*/
h1,
h2,
h3,
h4,
h5,
h6  {
    margin: 0;
    padding: 0;    
}

h1,
h2,
h3 {
    font-family: 'Comfortaa', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
}

hr {
    width: 25%;
    margin: 0 auto;
    padding: 0;
    background-color: #E3DFFF;
    border: 2px solid #E3DFFF;
    border-radius: 2px;    
}

/*Sections*/
.header {
    margin-top: 6rem;
    text-align: center;
}

.main {    
    position: relative;
    min-height: calc(60vh - 13rem);    
    margin: 2rem 1rem 4rem 1rem;
}

/*Container*/
.container {
    position: relative;
}

/*Pagination*/
.pagination ul li {
    display: inline-block;
    padding: 0 0.5rem;
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.active {
    color: #868686;    
}

/*Image*/
.rounded-border {
    border-radius: 0.75rem;
}

/*Button*/
.btn {
    box-shadow: 0 0 0.5rem #868686;     
} 

.btn-lavender {
    background-color: #E3DFFF;           
}
.btn-lavender:hover {
    background-color: #868686;
    color: #EAEBED;     
}

.btn-dimgray {
    background-color: #868686;    
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #EAEBED;  
}
.btn-dimgray:hover {
    background-color: #E3DFFF;    
}

.btn-subscribe {
    background-color: #FEF9EF;
    box-shadow: 0 0 0.2rem #868686; 
    padding: .37rem .75rem;       
}
.btn-subscribe:hover {
    background-color: #E3DFFF;
}

.btn-remove { 
    position: absolute;
    right: 0;
    bottom: 0;   
    background-color: #9A031E;    
    margin-left: 0.5rem;
    color: #E3DFFF;
}
.btn-remove:hover {
    background-color: rgb(230, 0, 42);
    color: #E3DFFF;    
}

.btn-reset {     
    background-color: #9A031E;    
    margin-left: 0.5rem;
    color: #E3DFFF;
}
.btn-reset:hover {
    background-color: rgb(230, 0, 42);
    color: #E3DFFF;    
}

/*Card*/
.card {
    border: transparent;
    background-color: transparent;  
}

.card-body {
    padding: 0;
}

.card-list {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

.ul-item {
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
}

.recipe_list-card {    
    margin: 0 0 0 1.5rem;
}

.fa-user-circle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.fa-heart {
    color: #9A031Efa;
}

.card__recipe {
    margin: 3rem 0;
}

.card__recipe-title {
    margin-bottom: 1.5rem;
    text-align: center;
}

.card__recipe-text {
    margin-bottom: 1rem;
}

.card__recipe-description {
    margin: 2rem 0;
}

.card__content {
    position: relative;
    padding: 1rem 0 0 1rem;
}

.recipe_list {
    font-size: 1.3rem;
}

.recipe_name-all {
    padding: 2rem 0 1rem 0;
}

.recipe_name:hover {
    text-decoration: underline;
}

.recipe__icon {
    font-size: 0.9rem;
}

.recipe__icon-right {
    padding-right: 1rem;
}

.recipe__card-image {
    height: 14.5rem;
    overflow: hidden;
    object-fit: contain;
    box-shadow: 0 0 1rem black; 
}

.recipe__image {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;   
    filter: contrast(1.1) brightness(1.15) saturate(1.1);        
}

.gallery__card-image {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.gallery__image {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
    border-radius: 0.85rem;
    filter: contrast(1.1) brightness(1.15) saturate(1.1);    
    transform: scale(1);
    z-index: 0;    
    transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, z-index 0.2s linear;
}
.gallery__image:hover {
    box-shadow: 0 0 1rem black;
    transform: scale(1.1);
    z-index: 10;
    transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, z-index 0s linear;
    filter: contrast(1) brightness(1) saturate(1);
}

.gallery__heading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;    
    padding: 1rem 0 0.5rem 1rem;    
    color: white;    
    text-shadow: 0 0 1rem black,
                0 0 1rem black,
                0 0 1rem black,
                0 0 1rem black,
                0 0 1rem black;         
    z-index: 12;        
}

/*Form*/
form .form__input-icon {
    position: absolute;
    bottom: 0;    
    left: 0;        
    margin: 0.6rem 1rem;
    font-size: 1.3rem;
}

form .form__input-addicon {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1.5rem;
    font-size: 1.3rem;
}

.form-control {
    border: 1px solid #868686;
}

.form-control-add {
    padding-left: 2.2rem;
}

label {
    margin: 0;
}

input[type="file"] {
    display: none;
}

.form {
    margin-bottom: 1rem;
}

.form__group {
    position: relative;
    margin-bottom: 0.9rem;
    padding: 0;
}

.form__input {   
    width: 100%;
    padding: .4rem 0 .4rem 3rem;   
    border: 1px solid #868686;
    border-radius: .25rem;  
}
.form__input:focus {
    outline-color: #9A031E;
}
.form__input::placeholder {
    color: transparent;  
}

.form__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    margin: 0.4rem 4rem;
    transform-origin: 0% 20%;
    transform: scale(1) translate(0, 0);
    will-change: transform;
    transition: transform 0.25s ease-in-out;
}
.form__input:focus ~ .form__label, .form__input[placeholder]:not(:placeholder-shown) ~ .form__label {
    transform: scale(0.75) translate(0.4rem, 2.8rem);
}

.form__input-email {
    display: inline;
    width: 50%;
    border: 1px solid #868686;
}

/*Navbar*/
.navbar {
    background-color: #FEF9EF;        
    padding: 0 1rem;
}

.navbar-brand {
    padding-bottom: 0;
}

.navbar .navbar-nav .nav-link {
    color: #0F0A0A;
    font-size: 1.1rem;    
}
.navbar .navbar-nav .nav-link:hover {
    color: #6D6A75;    
    text-decoration: underline;
}

/*Navbar-Page*/
.page-link {
    color: #0F0A0A;
}
.page-link:hover {  
    color: #6D6A75;
    text-decoration: underline;    
}

/*Footer*/
.footer {   
    background-color: #e3dfff;
    box-shadow: 0 0 0.5rem #868686;   
    padding: 3rem 0 5rem 0;          
}

.footer__line {  
    border-bottom: 2px solid #FEF9EF;
    border-radius: 2px;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;    
}

.footer__icons {
    line-height: normal;
    font-size: xx-large;         
}

.footer__icons--instagram {
    color: #ff008c;
}
.footer__icons--instagram:hover {
    color: #e02b8f;
}

.footer__icons--facebook {
    color: #0051ff;
}
.footer__icons--facebook:hover {
    color: #4d73c5;
}

.footer__icons--youtube {
    color: #ff0000;
}
.footer__icons--youtube:hover {
    color: #df2121;
}

.footer__footer-list {
    list-style-type: none;    
}

.footer__footer-link {    
    white-space: nowrap;
    padding: 0 1rem;
    color: #0F0A0A;      
}
.footer__footer-link:hover {
    color: #6D6A75;    
    text-decoration: underline;
}

.copyright {
    position: absolute;  
    left: 2rem;
    bottom: 0;
}

.top {
    position: absolute;  
    right: 2rem;
    bottom: -0.2rem;
    font-size: 1.5rem;
}

.top:hover {
    color: #6D6A75;
}

/*text layout*/
.contact__email {
    padding-top: 0.5rem;    
    text-shadow: 0 0 0.15rem #868686;
}
.contact__email:hover {
    color: #6D6A75;
    text-shadow: none;
    text-decoration: underline;
}

.flashes h4 {
    background-color: #E3DFFF;
    line-height: 2;
    padding: 0.5rem 1rem;
    
}

/* Media Queries */
@media (max-width: 48em) {          
    .footer__line {
        padding-bottom: 0.7rem;
    }
    .copyright {
        position: relative;
        float: left;
        left: 0;
        padding-top: 2rem;
    }
    .top {
        position: relative;
        float: right;
        right: 1.5rem;
        bottom: -0.5rem;       
    }
    .recipe_name-all {
        padding-top: 0;
        padding-bottom: 0.75rem;
        font-size: 1.5rem;
        text-align: center;
    }
    .recipe__icon {
        font-size: 0.8rem;
    }
    .recipe__icon-right {
        padding-right: 0.5rem;
    }
    .recipe__card-image {
        height: 13rem;        
    }
}
@media (max-width: 30em) {
    .recipe__card-image {
        height: 10rem;        
    }
}