{% extends "base.html" %}

{% block content %}
<!-- About Inofs -->
<div class="row justify-content-center">
    <div class="col-12 col-sm-9 col-lg-8">
        <h2>Who We Are</h2>
        <p class="pb-2">
            CookBook is here to help you cook delicious meals with less stress and more joy.
            We offer recipes and cooking advice for home cooks, by home cooks.
        </p>
        <p class="pb-4">
            CookBook was founded in 2021 by Samantha Cook as a home cooking site to create a collection of
            delicious and yummy recipes. CookBook is growing into a trusted resource for home cooks with
            tested recipes and readers from around the world. We’re supported by a diverse group of recipe
            developers,
            food writers, recipe and product testers, photographers, and other creative professionals.
        </p>
        <h2>Recipe Development & Testing</h2>
        <p class="pb-2">
            Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a
            time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes
            a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and
            vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
        </p>
        <p class="pb-2">
            There are three things we think about when deciding if a recipe is good enough to go on CookBook:
        </p>
        <p class="pb-2">
            <strong>First, does it work?</strong>
            <br>
            Recipes need to be easy to follow and provide reliable results, every time.
        </p>
        <p class="pb-2">
            <strong>Second, is it delicious?</strong>
            <br>
            Does the dish make us smile inside and out? Do we want to eat the whole batch by ourselves?
        </p>
        <p class="pb-2">
            <strong>Third, is it worth the effort?</strong>
            <br>
            To make sure each of these standards is met, we start by working with expert recipe developers - people with
            the experience and knowledge to not only develop a good recipe in their own kitchens, but to make sure that
            recipe works in yours. Next, we thoroughly review and edit every recipe in-house line by line. Finally, each
            new recipe is run by our team of recipe testers working in home kitchens with the same pots, pans, and tools
            that you use in yours. Only after all this is the recipe shared on CookBook.
        </p>
        <p>
            <strong>Have feedback for us? We’d love to hear from you! Please contact the team at</strong>
            <br>
            <a class="link" href="mailto:contact@cookbook.com" target="_blank" rel="noopener">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                contact@cookbook.com
            </a>
        </p>
    </div>
</div>
{% endblock %}