{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-9 col-lg-8">
        <h2>Accessibility Summary</h2>
        <p>
            CookBook, is committed to facilitating the accessibility and usability of its
            Web site, for all people with disabilities. CookBook has implemented and will
            continue to implement the relevant portions of the World Wide Web Consortium’s Web Content
            Accessibility Guidelines 2.1 Level AA (WCAG 2.1 AA) or higher as its web accessibility standard.
        </p>
        <h2 class="mt-4">Additional</h2>
        <p>
            Please be aware that our efforts are ongoing. If at any time you have specific
            questions or concerns about the accessibility of any web page on this website,
            please contact us at:
            <br>
            <a class="contact__email" href="mailto:info@cookbook.com" target="_blank" rel="noopener">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                info@cookbook.com
            </a>
            <br>
            If you do encounter an accessibility issue, please be
            sure to specify the web page in your email,
            and we will make all reasonable efforts to make that page accessible for you.
        </p>
    </div>
</div>
{% endblock %}