{% extends "base.html" %}

{% block content %}
<!-- Add Recipe Form -->
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <form  method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row g-3">
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="recipe_name">
                        <i class="fas fa-pencil-alt"></i> Recipe Name:</label>                    
                    <input class="form-control mb-3" id="recipe_name" name="recipe_name" 
                        type="text" minlength="5" required>                    
                </div>
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="image">
                        <i class="fas fa-image"></i>Your Image Url here:</label>
                    <input class="form-control mb-3" id="image" name="image"
                        type="url" placeholder="Use a valid URL for the picture of the dish." minlength="5">                
                </div>                
                <div class="col-6 font-weight-bolder">
                    <label class="form-label" for="time">
                        <i class="fas fa-clock"></i> Total Time:</label>
                    <input class="form-control" id="time" name="time"
                        type="text" placeholder="x hr x min" required>
                        <small class="form-text text-muted mb-3">Example: "2 hr 30 min"</small>                    
                </div>    
                <div class="col-6 font-weight-bolder">                
                    <label class="form-label" for="difficulty">
                        <i class="fas fa-thermometer-half"></i>Difficulty:</label>
                    <select class="form-control mb-3" id="difficulty" name="difficulty" required>
                        <option selected disabled>Select difficulty</option>
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>                   
                </div>            
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="ingredients">
                        <i class="fas fa-pepper-hot"></i> Ingredients:</label>                                            
                    <textarea class="form-control mb-3" id="ingredients" name="ingredients" 
                        type="text" placeholder="Each ingredient in it's own line." rows="3" required></textarea>                                        
                </div>
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="directions">
                        <i class="fas fa-align-left"></i> Directions:</label>
                    <textarea class="form-control mb-3" id="directions" name="directions"
                        type="text" placeholder="A new line for each step of the recipe." rows="5" required></textarea>
                </div>
                <div class="col-6 font-weight-bolder">
                    <label class="form-label" for="created_by">
                        <i class="far fa-user-circle user__icon"></i> Created By:</label>
                    <input class="form-control mb-3" id="created_by" name="created_by"
                        type="text" placeholder="" required>                                            
                </div>                                                
            </div>
            <div class="d-flex justify-content-center">                    
                <button class="btn btn-lg btn-dimgray" type="submit">
                    Create Recipe
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}