{% extends "base.html" %}

{% block content %}
<!-- Advertising Inofs -->
<div class="row justify-content-center">
    <div class="col-12 col-sm-9 col-lg-8">
        <h2>Advertising Policy</h2>
        <p class="pb-2">
            To help us maintain the resources needed to create the quality content you deserve, we accept advertisements
            on our Site. We greatly value transparency and hope that this policy leaves you feeling even more confident
            about the content and service we provide.
        </p>
        <p class="pb-2">
            CookBook maintains a distinct separation between advertising and editorial content.
        </p>
        <p class="pb-2">
            All advertising or sponsored content on CookBook is clearly and unambiguously distinguished from
            editorial content through borders or other distinguishing elements and/or identified as an “Ad,”
            “Advertisement,” “Sponsored” or a similar designation indicating that the content is being provided by or on
            behalf of an advertiser or sponsor.
        </p>
        <p class="pb-2">
            All “native” ads or paid content are identified as an “Ad,” “Advertisement,” “Sponsored” or a similar
            designation indicating that the content is being provided by or on behalf of an advertiser or sponsor.
        </p>
        <p class="pb-2">
            Editorial content on CookBook is not influenced by advertisements unless the content is sponsored
            content, in which case, the content will be clearly demarcated and/or identified with the title “Ad,”
            “Advertisement,” or “Sponsored”, or a similar designation, indicating that the content is being provided by
            or on behalf of an advertiser or sponsor.
        </p>
        <p class="pb-4">
            All advertisements and sponsored content appearing on CookBook are subject to the Guidelines found
            <a class="link" href="{{ url_for('about') }}" target="_blank" rel="noopener">
                <u>here.</u>
            </a>
        </p>
        <h2>ECOMMERCE AND AFFILIATE LINKS DISCLOSURE</h2>
        <p class="pb-4">
            Contributors and/or CookBook may receive compensation for participation in third-party affiliate
            marketing programs, including purchases made through links to CookBook’ e-commerce partners, if any.
            Pages on the Site containing affiliate marketing links, including product reviews, will be demarcated and/or
            identified with a disclaimer.
        </p>
        <h2>Advertising Guidelines</h2>
        <p class="pb-2">
            These advertising guidelines (“Guidelines”) set forth standards that govern the placement and display of
            advertisements and sponsored content (collectively, “Ads”) by any advertiser, agency, or advertising
            technology platform (collectively, “Advertisers”). Advertisers must adhere to these Guidelines when placing
            Ads, including Ads purchased under the AAAA/IAB Standard Terms and Conditions, on websites or mobile
            properties owned or controlled by About, Inc., including
            <a class="link" href="{{ url_for('index') }}" target="_blank" rel="noopener">
                <u>CookBook.com</u>
            </a>
            (collectively, “CookBook”).
        </p>
        <p class="pb-2">
            These Guidelines are intended to provide general parameters for Advertisers in connection with Ad creative
            and content served on CookBook. They are not exhaustive and do not address every situation or issue
            that may arise in the course of business. Accordingly, these Guidelines are subject to change from time to
            time in CookBook’ sole and absolute discretion.
        </p>
        <p class="pb-2">
            Advertisers are responsible for understanding and complying with all applicable laws and regulations,
            including FTC guidelines regarding advertising, native advertising disclosures, endorsements, privacy, and
            data security. All Ad’s must be fair, truthful, and clearly distinguishable from editorial content.
            Advertisers are responsible for ensuring all Ads and related claims are adequately substantiated. Further,
            Advertisers must adhere to CookBook’ Prohibited Content Guidelines and Additional Standards set forth
            below, which are incorporated into and made a part of these Guidelines.
        </p>
        <p class="pb-4">
            Ads served through networks or exchanges are reviewed on a regular basis and, in addition to any other
            remedies CookBook may have, CookBook reserves the right to remove, without notice, any Ads that
            do not meet these Guidelines, regardless of whether the Ad was previously accepted by CookBook.
        </p>
        <h2>PROHIBITED CONTENT</h2>
        <p class="pb-2">
            Ads may not contain or promote the following:
        </p>
        <p class="pb-2">
            <strong>Drugs/Alcohol/Tobacco.</strong> Ads may not promote illegal drugs, illegal substances, abuse of
            prescription drugs, use of Alcohol (except for beer and wine), or tobacco products, or any related
            paraphernalia thereto. Lawful products and services which promote quitting tobacco related products are
            permitted.
        </p>
        <p class="pb-2">
            <strong>Weapons/Violence.</strong> Ads may not promote the use, distribution, or making of firearms,
            ammunition, explosives, pyrotechnics or other weapons. Ads may not promote violence, cruelty, or physical or
            emotional harm to any person or animal.
        </p>
        <p class="pb-2">
            <strong>Illegal Activities/Gambling.</strong> Ads may not promote any illegal or other questionable
            activities which may be illegal in one or more jurisdictions, including without limitation hacking,
            counterfeiting, or other activities that may violate the intellectual property, privacy, publicity, or
            contractual rights of others. Ads may not contain or promote content related to scams, financial schemes,
            pyramid schemes or other fraudulent or illegal financial or investment opportunities. Ads may not promote
            casinos, gambling, betting, numbers games, sports or financial betting. Ads promoting state lotteries are
            permitted.
        </p>
        <p class="pb-2">
            <strong>Hate/Intolerance/Discrimination.</strong> Ads may not contain or promote hate speech, personal
            attacks, or discrimination toward any individual, group, country or organization.
        </p>
        <p class="pb-2">
            <strong>Obscenity/Indecency/Profanity.</strong> Ads may not contain or promote any obscene, indecent,
            profane or offensive words, images, sounds, videos or other content.
        </p>
        <p class="pb-2">
            <strong>Political/Religious.</strong> Ads may not contain hostile, offensive, inflammatory or hateful speech
            related to political or religious topics or groups. Ads may not exploit controversial political, social, or
            religious issues for commercial purposes.
        </p>
        <p class="pb-2">
            <strong>Sexual/Adult Content.</strong> Ads may not include full or partial nudity, depictions of people in
            explicit positions, or activities that are overly suggestive or sexually provocative. Ads will not contain
            text or images exposing anyone or anything involved in explicit sexual acts or lewd and lascivious behavior.
            Ads may not promote escort, dating, erotic massage, pornography, or other sexual products or services.
        </p>
        <p class="pb-2">
            <strong>Disparagement/Defamation.</strong> Ads may not contain disparaging or defamatory information or
            content which tends to harm the reputation of CookBook or any other individual, group, or
            organization.
        </p>
        <p class="pb-2">
            <strong>Gross Depictions.</strong> Ads may not contain or promote content that is crude, vulgar, degrading
            or likely to shock or disgust.
        </p>
        <p class="pb-2">
            <strong>Militant/Extremism.</strong> Ads may not contain or promote extremely aggressive and combative
            behaviors or unlawful political measures, including individuals or groups advocating violence as a means to
            achieve their goals.
        </p>
        <p class="pb-2">
            <strong>Sensitive Content.</strong> Ads may not target sensitive categories such as financial status,
            medical conditions, mental health, criminal record, political affiliation, age, racial or ethnic origin,
            religious or philosophical affiliation or beliefs, sexual behavior or orientation, or trade union
            membership.
        </p>
        <p class="pb-2">
            <strong>Free Goods/Services.</strong> Ads may not distribute or promise to distribute any free goods and
            services.
        </p>
        <p class="pb-2">
            <strong>Targeted at Children.</strong> Ads may not specifically target children, including through cartoons
            or other similar content.
        </p>
        <p class="pb-2">
            <strong>Unverifiable Claims.</strong> Ad’s may not make confusing claims that reasonable consumers cannot
            readily understand and evaluate.
        </p>
        <p class="pb-2">
            <strong>Before/After Images.</strong> Ad may not depict “before and after” images or images that contain
            unexpected or unlikely results.
        </p>
        <p class="pb-2">
            <strong>Health/Safety Claims.</strong> Ads may not promote actions likely to harm one’s health, such as
            bulimia, anorexia, binge drinking, or drug use. Ads may not make health claims that are not clearly
            substantiated. Advertisers may be required to submit supporting documentation to substantiate their
            products’ claims.
        </p>
        <p class="pb-2">
            <strong>Misleading/False/Deceptive:</strong> Ads may not contain any information or content that is
            potentially misleading, false, or deceptive, including content which is meant to deceptively generate clicks
            such as fake “close” buttons.
        </p>
        <p class="pb-4">
            <strong>Competitive to CookBook /Affiliates.</strong> Ads may not promote direct competitors of CookBook
            or any of its parent, affiliate, subsidiary or other related entity.
        </p>
        <h2>ADDITIONAL STANDARDS<br>
            ADVERTISERS AND ADS MUST ADHERE TO THE FOLLOWING:</h2>
        <p class="pb-2">
            <strong>Audio/Animation.</strong> Ads may not include overly disruptive audio or animation that plays
            automatically.
        </p>
        <p class="pb-2">
            <strong>Popups/Downloads.</strong> Ads may not include lead ads, floating layers, pop-ups, surveys, or any
            digital downloads.
        </p>
        <p class="pb-2">
            <strong>Malicious Software.</strong> Ads may not contain malicious code, software or viruses, including
            malware, spyware, adware, stealware, or Trojan horses.
        </p>
        <p class="pb-2">
            <strong>Separation.</strong> Ads must contain clear boarders and be displayed so they are unmistakably not
            part of CookBook’ editorial site content.
        </p>
        <p class="pb-2">
            <strong>Phishing.</strong> Ads may not trap or trick a user into providing money or any account, personal or
            other sensitive information.
        </p>
        <p class="pb-2">
            <strong>Compatibility.</strong> Ads must function uniformly on both Apple and PC formats, as well as all
            major Internet browsers.
        </p>
        <p class="pb-2">
            <strong>Independence.</strong> Ads may not appear to compromise or influence CookBook’ editorial
            independence from Advertisers.
        </p>
        <p class="pb-2">
            <strong>Endorsements.</strong> Ads may not create or imply the existence of any endorsement by CookBook
            of any product, service or organization.
        </p>
        <p class="pb-2">
            <strong>Landing Pages.</strong> Landing pages associated with Ads must correspond to the Ad’s “call to
            action” and not engage in “bait and switch”.
        </p>
        <p class="pb-2">
            <strong>Proprietary Rights.</strong> Ads may not violate any copyright, trademark, trade-secret, patent,
            publicity, privacy, or other proprietary rights of CookBook or any third party. Advertisers may not
            alter or interfere with the readability or display of any CookBook trademarks, service marks, logos,
            designs or slogans.
        </p>
        <p class="pb-4">
            <strong>Data Collection/Use.</strong> Ads may not include open-box forms to register users or collect any
            data. Ads may not collect and sell or license any data or mailing lists regarding CookBook users
            without CookBook’ express permission. Advertisers may not collect any personally identifiable
            information from CookBook users or place any cookies, applets or other similar files, if those files
            transmit any personally identifiable information to Advertisers, on desktop computers or mobile devices of
            CookBook users. Advertisers must handle data with appropriate care, not misuse any data which they are
            permitted to collect, nor collect any data for unclear purposes or without appropriate security measures.
        </p>
    </div>
</div>
{% endblock %}