<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- SEO -->
    <meta name="description" content="You find here at CookBook always the right recipe idea: 
        for cooking or baking, after work, for guests or parties, in spring, summer, autumn and winter.">
    <meta name="keywords"
        content="recipe, recipes, cooking, baking, fry, roast, briol, barbecue, cooking book, food, tasty">
    <meta name="author" content="Puks's WebDesing">

    <title>CookBook | Yummy Recepies For Everyone</title>

    <!-- Social Media -->
    <meta property="og:title" content="CookBook | Yummy Recepies For Everyone">
    <meta property="og:description" content="You find here at CookBook always the right recipe idea: 
        for cooking or baking, after work, for guests or parties, in spring, summer, autumn and winter.">
    <meta property="og:image" content="../static/images/CookHat.svg">
    <meta property="og:url" content="https://cbms3.herokuapp.com/">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/CookHat.svg')}}" />
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
        integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
        crossorigin="anonymous" />
    <!-- Static Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container-lg">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/CookHat.svg')}}" height="60" alt="Cook Hat Logo"
                    loading="lazy" />
            </a>
            <a class="navbar-brand mt-2 mt-lg-0" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/CookBook.svg')}}" height="50" alt="CookBook Brand"
                    loading="lazy" />
            </a>
            <button class="navbar-toggler btn-outline-secondary" type="button" data-toggle="collapse"
                data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto justify-content-end">
                    <li class="nav-item">
                        <a id="index" class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="allRecipes" class="nav-link" href="{{ url_for('all_recipes') }}">Recipes</a>
                    </li>
                    {% if session.user %}
                    <li class="nav-item">
                        <a id="profile" class="nav-link"
                            href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a id="addRecipe" class="nav-link" href="{{ url_for('add_recipe') }}">Add Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a id="signout" class="nav-link" href="{{ url_for('signout') }}">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a id="signup" class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a id="signin" class="nav-link" href="{{ url_for('signin') }}">Sign In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Heading -->
    <header class="header" id="top">
        <div class="container">
            <h1>CookBook</h1>
            <hr>
            <h1 class="pt-1">{{ page_title }}</h1>
        </div>
    </header>

    <!-- Flash Messages -->
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="row justify-content-center mt-4 flashes">
            <h4 class="text-center py-2 {{ category }}">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <!-- Main Container -->
    <main class="main">
        <div class="container">
            {% block content %}
            {% endblock %}
            <!-- Products -->
            {% block Products %}               
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer__line">
                <div class="row justify-content-center">
                    <!-- Social Media -->
                    <div class="col-10 col-md-4 pt-3">
                        <h3 class="text-center">Follow Us</h3>
                        <ul>
                            <li class="footer__icons">
                                <a href="https://www.instagram.com" target="_blank" rel="noreferrer">
                                    <i class="fab fa-instagram-square footer__icons--instagram" aria-hidden="true"></i>
                                    <span class="sr-only">Instagram</span>
                                </a>
                            </li>
                            <li class="footer__icons">
                                <a href="https://www.facebook.com" target="_blank" rel="noreferrer">
                                    <i class="fab fa-facebook-square footer__icons--facebook" aria-hidden="true"></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                            </li>
                            <li class="footer__icons">
                                <a href="https://www.youtube.com" target="_blank" rel="noreferrer">
                                    <i class="fab fa-youtube-square footer__icons--youtube" aria-hidden="true"></i>
                                    <span class="sr-only">YouTube</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Subscribe Newsletter -->
                    <div class="col-12 col-md-7 pt-3">
                        <form method="POST" action="{{url_for('sub')}}">
                            <h3 class="text-center pb-2">Get our Newsletter</h3>
                            <input class="form-control form__input-email" id="email" type="email" name="email"
                                placeholder="Email-Address" aria-label="Search" required>
                            <button class="btn btn-subscribe" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Terms of Service -->
            <footer class="footer__footer">
                <div class="row justify-content-center">
                    <div class="col-6 col-sm-3 col-md-2 mx-4">
                        <ul class="footer__footer-list">
                            <li>
                                <strong>
                                    <a class="footer__footer-link" target="_blank"
                                        href="{{ url_for('contact') }}">Contact
                                    </a>
                                </strong>
                            </li>
                            <li>
                                <strong>
                                    <a class="footer__footer-link" target="_blank" href="{{ url_for('about') }}">About
                                        Us
                                    </a>
                                </strong>
                            </li>
                            <li>
                                <strong>
                                    <a class="footer__footer-link" target="_blank" href="{{ url_for('advertising') }}">
                                        Advertise
                                    </a>
                                </strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-3 col-md-2 mx-4">
                        <ul class="footer__footer-list">
                            <li>
                                <strong>
                                    <a class="footer__footer-link" target="_blank"
                                        href="{{ url_for('accessibility') }}">Accessibility
                                    </a>
                                </strong>
                            </li>
                            <li>
                                <strong>
                                    <a class="footer__footer-link" target="_blank" href="{{ url_for('terms') }}">Terms
                                        Of Use
                                    </a>
                                </strong>
                            </li>
                            <li>
                                <strong>
                                    <a class="footer__footer-link" target="_blank"
                                        href="{{ url_for('privacy') }}">Privacy Policy
                                    </a>
                                </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
            <div class="footer__copyright">
                <i class="far fa-copyright"></i> <span id="copyright-year"></span> CookBook
            </div>
            <a href="#top" class="footer__top" title="Back to top"><i class="fas fa-chevron-up"></i></a>
        </div>
    </footer>

    <!-- Third Partie JS -->
    <!-- Bootstrap Jquery JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"
        integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg=="
        crossorigin="anonymous"></script>

    <!-- Static Custom JS -->
    <script id="baseScript" src="{{ url_for('static', filename='js/base.js') }}" data-path="{{ request.path }}">
    </script>
</body>

</html>