{% extends "base.html" %}

{% block content %}
<!-- Contact Inofs -->
<div class="row justify-content-center">
    <div class="col-12 col-sm-9 col-lg-8">
        <h2>Get In Touch</h2>
        <p class="pb-4">
            Have something you’d like to let us know? Whether you have a comment on a recipe or
            an idea to share, we would love to hear from you: contact@cookbook.com.
            For press inquiries, email us at:
            <br>
            <a class="link" href="mailto:contact@cookbook.com" target="_blank" rel="noopener">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                contact@cookbook.com
            </a>
        </p>
        <h2>Work With Us</h2>
        <p class="pb-4">
            Join our team of top-notch editors, designers, marketers, and others as we continue
            to make a difference every day in the lives of CookBook readers.
            <br>
            <a class="link" href="mailto:career@cookbook.com" target="_blank" rel="noopener">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                career@cookbook.com
            </a>
        </p>
        <h2>Advertise With Us</h2>
        <p>
            CookBook offers the highest value to advertisers through a combination of scale,
            credibility, and intent. Interested in advertising with us? Email us at:
            <br>
            <a class="link" href="mailto:advertise@cookbook.com" target="_blank" rel="noopener">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                advertise@cookbook.com
            </a>
        </p>
    </div>
</div>
{% endblock %}