{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-9 col-lg-8">
        <div class="card">
            <h2>Get In Touch</h2>            
            <p>
                Have something you’d like to let us know? Whether you have a comment on a recipe or 
                an idea to share, we would love to hear from you: contact@simplyrecipes.com.
                For press inquiries, email us at:
                <br>
                <a class="card__email" href="mailto:contact@cookbook.com" target="_blank" rel="noopener">                       
                    <i class="fa fa-envelope" aria-hidden="true"></i>                    
                    contact@cookbook.com
                </a>
            </p>            
            <h2 class="card-subtitle">Work With Us</h2>
            <p>
                Join our team of top-notch editors, designers, marketers, and others as we continue 
                to make a difference every day in the lives of Simply Recipes readers.
                <br>
                <a class="card__email" href="mailto:career@cookbook.com" target="_blank" rel="noopener">                       
                    <i class="fa fa-envelope" aria-hidden="true"></i>                    
                    career@cookbook.com
                </a>
            </p>
            <h2 class="card-subtitle">Advertise With Us</h2>
            <p>
                Simply Recipes offers the highest value to advertisers through a combination of scale, 
                credibility, and intent. Interested in advertising with us? Email us at:
                <br>
                <a class="card__email" href="mailto:advertise@cookbook.com" target="_blank" rel="noopener">                       
                    <i class="fa fa-envelope" aria-hidden="true"></i>                    
                    advertise@cookbook.com
                </a>
                or check out our media kit to learn more.
            </p>            
        </div>
    </div>
</div>
{% endblock %}