{% extends "base.html" %}
{% block content %}
<!-- Makes sure only the creator can edit the recipe or elif admin-->
{% if session.user|lower == recipe.user|lower %}

<!-- Subtitle for User -->
<div class="row">
    <div class="col-12">
        <h2 class="text-center mb-3">
            <i class="fas fa-edit"></i> Edit Your Recipes Here! <i class="fas fa-edit"></i>
        </h2>
    </div>
</div>

<!-- Main content form for page -->
<!-- Edit Form for User -->
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="row g-3">
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="recipe_name">
                        <i class="fas fa-pencil-alt"></i> Recipe Name:</label>                    
                    <input class="form-control mb-3" id="recipe_name" name="recipe_name" 
                        type="text" minlength="5" required>                    
                </div>
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="image">
                        <i class="fas fa-image"></i> Your Image Url here:</label>
                    <input class="form-control mb-3" id="image" name="image"
                        type="url" placeholder="Use a valid URL for the picture of the dish." minlength="5">                
                </div>                
                <div class="col-6 font-weight-bolder">
                    <label class="form-label" for="time">
                        <i class="fas fa-clock"></i> Total Time:</label>
                    <input class="form-control" id="time" name="time"
                        type="text" placeholder="x hr x min" required>
                        <small class="form-text text-muted mb-3">Example: "2 hr 30 min"</small>                    
                </div>    
                <div class="col-6 font-weight-bolder">                
                    <label class="form-label" for="difficulty">
                        <i class="fas fa-signal"></i> Difficulty:</label>
                    <select class="form-control mb-3" id="difficulty" name="difficulty" required>
                        <option selected disabled>Select difficulty</option>
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>                   
                </div>            
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="ingredients">
                        <i class="fas fa-pepper-hot"></i> Ingredients:</label>                                            
                    <textarea class="form-control mb-3" id="ingredients" name="ingredients" 
                        type="text" placeholder="Each ingredient in it's own line." rows="3" required></textarea>                                        
                </div>
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="directions">
                        <i class="fas fa-align-left"></i> Directions:</label>
                    <textarea class="form-control mb-3" id="directions" name="directions"
                        type="text" placeholder="A new line for each step of the recipe." rows="5" required></textarea>
                </div>
                <div class="col-6 font-weight-bolder">
                    <label class="form-label" for="created_by">
                        <i class="far fa-user-circle user__icon"></i> Created By:</label>
                    <input class="form-control mb-3" id="created_by" name="created_by"
                        type="text" placeholder="" required>                                            
                </div>                                                
            </div>
        </form>
    </div>
</div>

<!-- Allows Admin to edit users recipe -->
{% elif session.user|lower == "admin"|lower %}

<!-- Subtitle for Admin -->
<div class="row">
    <div class="col-12">
        <h2 class="text-center mb-3">
            Admin<br> 
            <i class="fas fa-edit"></i> Edit Recipe <i class="fas fa-edit"></i>
        </h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="row g-3">
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="recipe_name">
                        <i class="fas fa-pencil-alt"></i> Recipe Name:</label>                    
                    <input class="form-control mb-3" id="recipe_name" name="recipe_name" 
                        type="text" minlength="5" required>                    
                </div>
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="image">
                        <i class="fas fa-image"></i> Your Image Url here:</label>
                    <input class="form-control mb-3" id="image" name="image"
                        type="url" placeholder="Use a valid URL for the picture of the dish." minlength="5">                
                </div>                
                <div class="col-6 font-weight-bolder">
                    <label class="form-label" for="time">
                        <i class="fas fa-clock"></i> Total Time:</label>
                    <input class="form-control" id="time" name="time"
                        type="text" placeholder="x hr x min" required>
                        <small class="form-text text-muted mb-3">Example: "2 hr 30 min"</small>                    
                </div>    
                <div class="col-6 font-weight-bolder">                
                    <label class="form-label" for="difficulty">
                        <i class="fas fa-signal"></i> Difficulty:</label>
                    <select class="form-control mb-3" id="difficulty" name="difficulty" required>
                        <option selected disabled>Select difficulty</option>
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>                   
                </div>            
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="ingredients">
                        <i class="fas fa-pepper-hot"></i> Ingredients:</label>                                            
                    <textarea class="form-control mb-3" id="ingredients" name="ingredients" 
                        type="text" placeholder="Each ingredient in it's own line." rows="3" required></textarea>                                        
                </div>
                <div class="col-12 font-weight-bolder">
                    <label class="form-label" for="directions">
                        <i class="fas fa-align-left"></i> Directions:</label>
                    <textarea class="form-control mb-3" id="directions" name="directions"
                        type="text" placeholder="A new line for each step of the recipe." rows="5" required></textarea>
                </div>
                <div class="col-6 font-weight-bolder">
                    <label class="form-label" for="created_by">
                        <i class="far fa-user-circle user__icon"></i> Created By:</label>
                    <input class="form-control mb-3" id="created_by" name="created_by"
                        type="text" placeholder="" required>                                            
                </div>                                                
            </div>
            <!-- Cancel & Submit buttons for Edit Form --> 
            <div class="row justify-content-center">
                <div class="col-12 text-center">                   
                    <button class="btn btn-success" type="submit">
                        Edit Recipe
                    </button>
                    <a class="btn btn-danger" href="{{ url_for('profile', username=session['user']) }}" type="button">
                        Cancle</a>
                </div>
            </div>  
        </form>
    </div>
</div>

{% else %}

<h3 class="red-text text-darken-4 center-align">You are not permitted to view this page</h3>

{% endif %}

{% endblock %}