{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
        <p>
            You find here at CookBook always the right recipe idea: for cooking or baking,
            after work, for guests or parties, in spring, summer, autumn and winter.
        </p>

    </div>
</div>

<!-- Search Box-->
<div class="row justify-content-center mt-5">
    <div class="col-12 col-ms-8 col-md-5">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search Recipes" aria-label="Search">
            <button class="btn btn-lavender" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="text-center mt-5 mb-3">
            Recipe Gallery
        </h2>
    </div>
</div>
<!-- Recipe Card -->
<div class="album">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col mb-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/kaesekuchen-mit-2-schichten.jpg')}}"
                        class="img-fluid rounded" alt="...">
                    <div class="card-body">
                        <div class="card__content">
                            <h3> recipe.title </h3>
                            <p> recipe.rating </p>
                            <p>
                                <small class="text-muted">
                                    <i class="fas fa-hourglass-half"></i> : recipe.time
                                    <i class="fas fa-signal"></i> : recipe.severity
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/kaesekuchen-mit-2-schichten.jpg')}}"
                        class="img-fluid rounded" alt="...">
                    <div class="card-body">
                        <div class="card__content">
                            <h3> recipe.title </h3>
                            <p> recipe.rating </p>
                            <p>
                                <small class="text-muted">
                                    <i class="fas fa-hourglass-half"></i> : recipe.time
                                    <i class="fas fa-signal"></i> : recipe.severity
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/kaesekuchen-mit-2-schichten.jpg')}}"
                        class="img-fluid rounded" alt="...">
                    <div class="card-body">
                        <div class="card__content">
                            <h3> recipe.title </h3>
                            <p> recipe.rating </p>
                            <p>
                                <small class="text-muted">
                                    <i class="fas fa-hourglass-half"></i> : recipe.time
                                    <i class="fas fa-signal"></i> : recipe.severity
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/kaesekuchen-mit-2-schichten.jpg')}}"
                        class="img-fluid rounded" alt="...">
                    <div class="card-body">
                        <div class="card__content">
                            <h3> recipe.title </h3>
                            <p> recipe.rating </p>
                            <p>
                                <small class="text-muted">
                                    <i class="fas fa-hourglass-half"></i> : recipe.time
                                    <i class="fas fa-signal"></i> : recipe.severity
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/kaesekuchen-mit-2-schichten.jpg')}}"
                        class="img-fluid rounded" alt="...">
                    <div class="card-body">
                        <div class="card__content">
                            <h3> recipe.title </h3>
                            <p> recipe.rating </p>
                            <p>
                                <small class="text-muted">
                                    <i class="fas fa-hourglass-half"></i> : recipe.time
                                    <i class="fas fa-signal"></i> : recipe.severity
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='images/kaesekuchen-mit-2-schichten.jpg')}}"
                        class="img-fluid rounded" alt="...">
                    <div class="card-body">
                        <div class="card__content">
                            <h3> recipe.title </h3>
                            <p> recipe.rating </p>
                            <p>
                                <small class="text-muted">
                                    <i class="fas fa-hourglass-half"></i> : recipe.time
                                    <i class="fas fa-signal"></i> : recipe.severity
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}