{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-lg-8">
        <p>
            Dicover here at CookBook always the right recipe idea: for cooking or baking,
            after work, for guests or parties, in spring, summer, autumn and winter.
        </p>
        <p>
            Sing Up to get your own profile to view, add, store and share recipes in a modern way
            and to create a collection of your favourite recipes.           
        </p>

    </div>
</div>
<div class="row text-center mt-3">
    <div class="col-12">
        <a class="btn btn-dimgray" href="#">View Recipes</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2 class="text-center my-4">
            Recipe Gallery
        </h2>
    </div>
</div>

<!-- Recipe Card -->
<div class="album">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for recipe in recipes %}
            <div class="col mb-3">
                <div class="card gallery__card-image">
                    <a href="#">
                        <img class="gallery__image  rounded" alt="Recipe Image"
                        src="{{ recipe.image }}"> 
                    </a>                   
                </div>
            </div>            
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}