{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-9 col-lg-8">                   
            <h2>Summary</h2>
            <p class="pb-4">
                The intention of this document is to explain as clearly as possible CookBook intention in
                gathering information about the users of our website. We gather information in two ways. General
                statistics through Google Analytics and contact information submitted to us through our contact 
                form. CookBook undertakes not to sell or rent to any third party whatsoever any personally 
                identifiable information about you.
            </p>
            <h2>1. Introduction</h2>
            <p class="pb-4">
                It is CookBook policy to respect your privacy regarding any information we may collect while
                operating our website. This Privacy Policy applies to "https://www.CookBook.com" 
                (hereinafter, "us", "we", or "https://www.CookBook.com"). We respect your privacy and are 
                committed to protecting personally identifiable information you may provide us through the Website.
                We have adopted this privacy policy to explain what information may be collected on our Website, 
                how we use this information, and under what circumstances we may disclose the
                information to third parties. This Privacy Policy applies only to information we collect through 
                the Website and does not apply to our collection of information from other sources.
            </p>
            <h2>2. General Data Protection Regulation (GDPR)</h2>
            <p>
                We are a Data Controller of your information.
            </p>
            <p>
                CookBook legal basis for collecting and using the personal information described in this
                Privacy Policy depends on the Personal Information we collect and the specific context in which we
                collect the information:
            </p>
            <ul class="ul__list">
                <li class="ul__list-item">CookBook needs to perform a contract with you.</li>
                <li class="ul__list-item">You have given CookBook permission to do so.</li>
                <li class="ul__list-item">Processing your personal information is in CookBook legitimate interests.</li>
                <li class="ul__list-item">CookBook needs to comply with the law.</li>
            </ul>
            <p class="pb-2">
                CookBook will retain your personal information only for as long as is necessary for the
                purposes set out in this Privacy Policy. We will retain and use your information to the extent 
                necessary to comply with our legal obligations, resolve disputes, and enforce our policies.
            </p>
            <p class="pb-2">
                If you are a resident of the European Economic Area (EEA), you have certain data protection rights. 
                If you wish to be informed what Personal Information we hold about you and if you want it 
                to be removed from our systems, please contact us.
            </p>
            <p>
                In certain circumstances, you have the following data protection rights:
            </p>
            <ul class="ul__list pb-4">
                <li class="ul__list-item">The right to access, update or to delete the information we have on you.</li>
                <li class="ul__list-item">The right of rectification.</li>
                <li class="ul__list-item">The right to object.</li>
                <li class="ul__list-item">The right of restriction.</li>
                <li class="ul__list-item">The right to data portability.</li>
                <li class="ul__list-item">The right to withdraw consent.</li>
            </ul>
            <h2>3. Website Visitors</h2>
            <p class="pb-4">
                Like most website operators, CookBook collects non-personally-identifying information of the
                sort that web browsers and servers typically make available, such as the browser type, language
                preference, referring site, and the date and time of each visitor request. CookBook purpose in 
                collecting non-personally identifying information is to better understand how CookBook visitors 
                use its website.
            </p>
            <h2>4. Security</h2>
            <p class="pb-2">
                The security of your Personal Information is important to us, but remember that no method of 
                transmission over the Internet, or method of electronic storage is 100% secure. While we strive to 
                use commercially acceptable means to protect your Personal Information, we cannot guarantee 
                its absolute security.
            </p>
            <p class="pb-2">
                Our Website may contain links to external sites that are not operated by us, mainly through our blog 
                posts. If you click on a third party link, you will be directed to that third party's site. 
                We strongly advise you to review the Privacy Policy and terms and conditions of every site 
                you visit.
            </p>
            <p class="pb-4">
                We have no control over, and assume no responsibility for the content, privacy policies
                or practices of any third party sites, products or services.
            </p>
            <h2>5. Generating Statistics</h2>
            <p class="pb-4">
                CookBook may collect statistics about the behavior of visitors to its website. Precision Health
                Performance may display this information publicly or provide it to others. However, 
                CookBook does not disclose your personally-identifying information.
            </p>
            <h2>6. Cookies</h2>
            <p class="pb-2">
                Cookies identify your computer or device rather than you as an individual user and are used for 
                different purposes. Cookies are small text files stored on your hard drive, which contain 
                information about your activity and preferences when visiting https://www.CookBook.com. 
                These cookies allow us to monitor website traffic and to store information about your
                preferences, which allows us to customise the site according to your needs. If you wish to change 
                the way your browser handles cookies you can do so through your browser’s settings. 
                We utilised cookies for the following reasons;
            </p>
            <p>
                Generating Statistics
            </p>
            <ul class="ul__list pb-2">
                <li class="ul__list-item">Measuring Website traffic such as the number of visits to the Website.</li>
                <li class="ul__list-item">Which Domains the visitors come from.</li>
                <li class="ul__list-item">Which pages visitors view on the Website.</li>
                <li class="ul__list-item">Which overall geographical areas the visitors are located.</li>
            </ul>
            <h5><strong>Deletion of Cookies</strong></h5>
            <p class="pb-4">
                You can delete the cookies already on your device. You can typically delete cookies
                from the Privacy or History area, available from the Settings or Options menu in the browser.
            </p>
            <h2>7. Privacy Policy Changes</h2>
            <p class="pb-4">
                Although most changes are likely to be minor, CookBook may change its Privacy Policy from time
                to time, and in CookBook sole discretion. CookBook encourages visitors to frequently check
                this page for any changes to its Privacy Policy. Your continued use of this site after any change 
                in this Privacy Policy will constitute your acceptance of such change.
            </p>
            <h2>8. Consent</h2>
            <p class="pb-4">
                By using our website, you hereby consent to our Privacy Policy and agree to its terms.
            </p>
            <h2>9. Contact</h2>
            <p>
                If you have any questions about this Privacy Policy, please contact us at:                
                <br>
                <a class="link" href="mailto:info@cookbook.com" target="_blank" rel="noopener">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    info@cookbook.com
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}