{% extends "base.html" %}
{% block content %}
<!-- Search Box-->
<div class="row justify-content-center mt-5">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center">        
            <form class="col-10 col-md-6 col-lg-auto  mb-3 mb-lg-0 me-lg-3" action="{{ url_for('search') }}" method="post">                
                <input class="form-control" type="search" name="query" id="query" minlength="3"
                placeholder="Search Recipes" aria-label="Search" required>  
            </form>
              <div class="text-end">
                <button class="btn btn-lavender" type="submit"><i class="fas fa-search"></i></button>
                <a class="btn btn-reset" href="{{ url_for('all_recipes') }}">Reset</a>
              </div>
        </div>
    </div>
</div>

<!-- Recipe Card -->
{% if recipes|length > 0 %}
<div class="mt-5">
    <div class="row justify-content-center">
        {% for recipe in recipes %}
        <div class="col-10 col-md-6 col-lg-4 gallery__card-image align-self-center">
            <div class="size">
            <div class="card recipe__card-image rounded-border">
                <a href="#">
                    <img class="recipe__image" alt="Recipe Image" src="{{ recipe.image }}">
                </a>
            </div>
        </div>
        </div>
        <div class="col-10 col-md-5 pb-5">
            <div>
                <h3 class="recipe_name recipe_name-all text-center">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                        {{ recipe.recipe_name }}</a>                        
                </h3>
                <div class="row justify-content-center">
                    <ul>
                        <li class="fas fa-clock recipe__icon recipe__icon-right"> <span class="recipe__icon-text">Cook: {{ recipe.time }}</span></li>
                        <li class="fas fa-thermometer-half recipe__icon"> <span class="recipe__icon-text">Difficulty: {{ recipe.difficulty }}</span></li>
                    </ul>
                </div>
                <div class="row justify-content-center mt-3">
                   <small><i class="far fa-user-circle user__icon"></i><strong> By</strong> {{ recipe.created_by }}</small>
                </div>
                <div class="row text-center mt-3">
                    <div class="col-12">
                        {% if session.user %}                              
                        <a class="btn btn-heart" href="{{ url_for('favourite_recipe', recipe_id=recipe._id) }}">
                            <i class="fas fa-heart" id="like"></i>Add to Favorites</a>                    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h2 class="text-center text-danger mt-5"><strong>No Results Found</strong></h2>
{% endif %}


<!-- Pagination links -->
<div class="row justify-content-center mt-3">
    {{ pagination.links }}
</div>
{% endblock %}