{% extends "base.html" %}

{% block content %}
<!-- Sign In Form -->
<div class="row justify-content-center">
    <div class="col-11 col-sm-7 col-lg-5">
        <form class="form" method="POST" action="{{ url_for('signin') }}">
            <!-- username -->
            <div class="row">
                <div class="form__group col-12 mb-4">
                    <input class="form__input" id="username" name="username" type="text" placeholder="Username" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label class="form__label" for="username">Username</label>
                    <i class="fas fa-user-plus form__input-icon"></i>
                </div>
            </div>
            <!-- passowrd -->
            <div class="row">
                <div class="form__group col-12 mb-4">
                    <input class="form__input" id="password" type="password" name="password" placeholder="Password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <label class="form__label" for="password">Password</label>
                    <i class="fas fa-user-lock form__input-icon"></i>
                </div>
            </div>
            <!-- login -->
            <div class="row">
                <button class="col-12 btn btn-lavender" type="submit">
                    Sign In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-auto">
        <p class="text-center">
            <strong>New Here?</strong>
            <a href="{{ url_for('signup') }}" class="footer__footer-link">Sign Up for a Account</a>
        </p>
    </div>
</div>

<!-- Products -->
<section>
    <!-- Header -->
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-5">
                Kitchen
            </h2>
            <hr>
            <h4 class="text-center mb-5">Tools & Helpers</h4>
        </div>
    </div>
    <!-- Product Cards -->
    <div class="row justify-content-center">
        <!-- Product Card -->
        <div class="col-10 col-sm-4 col-lg-3 mb-4">
            <div class="products__card-container">
                <div class="products__card">
                    <div class="products__card-front">
                        <div class="products__image-container">
                            <img class="card-img-top products__image products__image mt-4"
                                src="https://m.media-amazon.com/images/I/71QzRV8bnjS._AC_SL1500_.jpg"
                                alt="Kitchen Tools">
                        </div>
                        <div class="products__card-body">
                            <h6 class="text-center px-3 pb-4">Funny Kitchen Towels</h6>
                        </div>
                    </div>
                    <div class="products__card-hover">
                        <a class="btn btn-sm btn-buy" target="_blank" rel="noreferrer"
                            href="https://www.amazon.com/Housewarming-Towels-Warming-Presents-Kitchen/dp/B08T253829/ref=sr_1_56_sspa?crid=34LXGVOVTONLK&dchild=1&keywords=funny+cooking+gifts&qid=1627083037&sprefix=funny+cooking%2Caps%2C279&sr=8-56-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzMkpOQVJQWk05OFFYJmVuY3J5cHRlZElkPUEwMjA4OTcxM0NJOU5PNlE5VThVWSZlbmNyeXB0ZWRBZElkPUEwMTAzOTM0MktNMldaM0ZZNFYyTCZ3aWRnZXROYW1lPXNwX2J0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                            Buy It: $15.29 Amazon
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Cards -->
        <div class="col-10 col-sm-4 col-lg-3 mb-4">
            <div class="products__card-container">
                <div class="products__card">
                    <div class="products__card-front">
                        <div class="products__image-container">
                            <img class="card-img-top products__image products__image mt-4"
                                src="https://m.media-amazon.com/images/I/61+ecKbKeML._AC_SL1500_.jpg"
                                alt="Kitchen Tools">
                        </div>
                        <div class="products__card-body">
                            <h6 class="text-center px-3 pb-4">Calphalon Classic Oil-Infused Ceramic Cookware</h6>
                        </div>
                    </div>
                    <div class="products__card-hover">
                        <a class="btn btn-sm btn-buy" target="_blank" rel="noreferrer"
                            href="https://www.amazon.com/Calphalon-2064709-Classic-Cookware-11-Piece/dp/B07YP1X8VH/ref=sr_1_6?dchild=1&keywords=cooking&qid=1627080324&sr=8-6">
                            Buy It: $249.99 Amazon
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Cards -->
        <div class="col-10 col-sm-4 col-lg-3 mb-4">
            <div class="products__card-container">
                <div class="products__card">
                    <div class="products__card-front">
                        <div class="products__image-container">
                            <img class="card-img-top products__image products__image mt-4"
                                src="https://m.media-amazon.com/images/I/517mXyAsCuS._AC_SL1200_.jpg"
                                alt="Kitchen Tools">
                        </div>
                        <div class="products__card-body">
                            <h6 class="text-center px-3 pb-4">YolkFrog Egg Yolk and White Separator</h6>
                        </div>
                    </div>
                    <div class="products__card-hover">
                        <a class="btn btn-sm btn-buy" target="_blank" rel="noreferrer"
                            href="https://www.amazon.com/Peleg-Design-Silicone-Separator-Extractor/dp/B01BKF11SI/ref=sr_1_74?crid=17HOK64NCREL8&dchild=1&keywords=baking+gadgets&qid=1627084351&sprefix=baking+g%2Caps%2C284&sr=8-74">
                            Buy It: $12.99 Amazon
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}