{% extends "base.html" %}

{% block content %}
<!-- Sign Up Form -->
<section>
    <div class="row justify-content-center">
        <div class="col-11 col-sm-7 col-lg-5">
            <form class="form" method="POST" action="{{ url_for('signup') }}">
                <!-- username -->
                <div class="row">
                    <div class="form__group col-12">
                        <input class="form__input" id="username" name="username" type="text"
                            placeholder="Choose Username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                            autocomplete="off" required>
                        <label class="form__label" for="username">Choose Username</label>
                        <i class="fas fa-user-plus form__input-icon"></i>
                    </div>
                    <small class="form-text text-muted mb-3">5-15 characters</small>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="form__group col-12">
                        <input class="form__input" id="password" name="password" type="password"
                            placeholder="Set Password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                            autocomplete="off" required>
                        <label class="form__label" for="password">Set Password</label>
                        <i class="fas fa-user-lock form__input-icon"></i>
                    </div>
                    <small class="form-text text-muted mb-3">5-15 characters</small>
                </div>
                <!-- use of terms agreemant -->
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" type="checkbox" id="customCheck" required>
                    <label class="custom-control-label" for="customCheck">By signing up I agree to the BookCook Terms of
                        Use.
                        I acknowledge that I have read the Privacy Policy.
                        <a href="{{url_for('privacy')}}">the Privacy Policy.</a>
                    </label>
                </div>
                <!-- register -->
                <div class="row">
                    <button class="col-12 btn btn-lavender" type="submit">
                        Sign Up <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Sing In href -->
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <p class="text-center">
                <strong>Already Registered?</strong>
                <a href="{{ url_for('signin') }}" class="footer__footer-link">Sign In</a>
            </p>
        </div>
    </div>
</section>

<!-- Products -->
<section>
    <!-- Header -->
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-5">
                Kitchen
            </h2>
            <hr>
            <h4 class="text-center mb-5">Tools & Helpers</h4>
        </div>
    </div>
    <!-- Product Cards -->
    <div class="row justify-content-center">
        <!-- Product Card -->
        <div class="col-10 col-sm-4 col-lg-3 mb-4">
            <div class="products__card-container">
                <div class="products__card">
                    <div class="products__card-front">
                        <div class="products__image-container">
                            <img class="card-img-top products__image products__image mt-4"
                                src="https://m.media-amazon.com/images/I/91+h7phExrL._AC_SL1500_.jpg"
                                alt="Kitchen Tools">
                        </div>
                        <div class="products__card-body">
                            <h6 class="text-center px-3 pb-4">HEZHEN Basic Series Steak Knife</h6>
                        </div>
                    </div>
                    <div class="products__card-hover">
                        <a class="btn btn-sm btn-buy" target="_blank" rel="noreferrer"
                            href="https://www.amazon.com/HEZHEN-Serrated-Straight-Stainless-Resistant/dp/B08S3V7RDT/ref=sr_1_95_sspa?crid=2VJ3ORKA5U2PC&dchild=1&keywords=kitchen+knives&qid=1627080104&sprefix=kitchen+k%2Caps%2C279&sr=8-95-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExVVhKQ05WR0lJOVNSJmVuY3J5cHRlZElkPUEwOTg4NzMzMTlMMThJT1g1WjVFVCZlbmNyeXB0ZWRBZElkPUEwOTk5MDAxNEEzTUNKUU9VWFJBJndpZGdldE5hbWU9c3BfYnRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
                            Buy It: $59.99 Amazon
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Cards -->
        <div class="col-10 col-sm-4 col-lg-3 mb-4">
            <div class="products__card-container">
                <div class="products__card">
                    <div class="products__card-front">
                        <div class="products__image-container">
                            <img class="card-img-top products__image products__image mt-4"
                                src="https://m.media-amazon.com/images/I/61Lhn0lE0zL._AC_SL1500_.jpg"
                                alt="Kitchen Tools">
                        </div>
                        <div class="products__card-body">
                            <h6 class="text-center px-3 pb-4">Mr. Right and Mrs. Always Right Glass</h6>
                        </div>
                    </div>
                    <div class="products__card-hover">
                        <a class="btn btn-sm btn-buy" target="_blank" rel="noreferrer"
                            href="https://www.amazon.com/Engagement-Wedding-Anniversary-Couples-Newlyweds/dp/B081J6WJ51/ref=sr_1_100_sspa?crid=34LXGVOVTONLK&dchild=1&keywords=funny+cooking+gifts&qid=1627083721&sprefix=funny+cooking%2Caps%2C279&sr=8-100-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExMDExVjlSSjVIRkNIJmVuY3J5cHRlZElkPUEwMTIwMDQ2VjdZRTY4UlJNVjRXJmVuY3J5cHRlZEFkSWQ9QTA5NzQ2MDg0UjM3VFNKMEhaOU0md2lkZ2V0TmFtZT1zcF9hdGZfbmV4dCZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                            Buy It: $18.91 Amazon
                        </a>
                    </div>
                </div>
            </div>
        </div>        
        <!-- Product Cards -->
        <div class="col-10 col-sm-4 col-lg-3 mb-4">
            <div class="products__card-container">
                <div class="products__card">
                    <div class="products__card-front">
                        <div class="products__image-container">
                            <img class="card-img-top products__image products__image mt-4"
                                src="https://m.media-amazon.com/images/I/71FWzC7NhWL._AC_SL1500_.jpg"
                                alt="Kitchen Tools">
                        </div>
                        <div class="products__card-body">
                            <h6 class="text-center px-3 pb-4">Cat Design Heat Resistant Cooking Glove</h6>
                        </div>
                    </div>
                    <div class="products__card-hover">
                        <a class="btn btn-sm btn-buy" target="_blank" rel="noreferrer"
                            href="https://www.amazon.com/Feb-7-Resistant-Cooking-Grilling-Microwave/dp/B07GH3DLBN/ref=sr_1_3?crid=34LXGVOVTONLK&dchild=1&keywords=funny+cooking+gifts&qid=1627080500&sprefix=funny+cooking%2Caps%2C279&sr=8-3">
                            Buy It: $19.99 Amazon
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}